/* body */
body {
 
color: #212121;
background: #FFFFFF;
font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
}
 .projekt-title {
    font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;

 }

 .text-projekt {
font-weight: 400;
font-size: 16px;
line-height: 1.8;
letter-spacing: 0.03em;

color: #757575;
 }


/* header */
.page-header {
background: #FFFFFF;

}

.logo-text {
font-weight: 700;
font-size: 26px;
line-height:1.2;
letter-spacing: 0.03em;
color: #2196F3;
}

.text-logo2 {
 color: #000000;
}

.text-logo-footer {
 color: #FFFFFF;
}

.studio-header {
font-weight: 500;
font-size: 14px;
line-height:1.14;
letter-spacing: 0.02em;
color: #2196F3;
}

.portfolio-header,.contact-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
 }
 
    
/* main */

.solutions {
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
     margin-bottom: 95px;  
background-color:#2F303A;
}

.solutions-title {
   font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;

}

.button {
font-family: inherit;
 font-weight: 500;
font-size: 16px;
line: height 1.8em;;
text-align: center;
color: #212121;
   }

.button-studio {
    position: absolute;
width: 216px;
height: 50px;
left: 648px;
top: 442px;

background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

   }

.button-text {

 width: 152px;
height: 30px;
left: 730px;
top: 440px;
font-weight: 700;
font-size: 16px;
line-height:1.9;
color: #FFFFFF;

}


.feature-styles {
margin-bottom: 95px;
}

.feature-title {
   
font-weight: 700;
font-size: 14px;
line-height:1,2;
text-transform: uppercase;
}

.feature-text {
 font-size: 14px;
line-height:1.8;
color: #757575;
}


.title-work {
font-weight: 700;
font-size: 36px;
line-height:1.2;
text-align: center;
letter-spacing: 0.03em;

}

.team {
background-color: #F5F4FA;

}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height:1.2;
    margin-bottom: 50px;
}

.job-title {
font-weight: 400;
font-size: 16px;
line-height:1.2;
text-align: center;
color: #757575;
}


.photo-team  {
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1632px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    }


.title-name {
font-weight: 500;
font-size: 16px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;

}

.footer-style {
 background-color: #2F303A;
}

.address {
width: 231px;
height: 21px;
 font-weight: 400;
font-size: 14px;
line-height:1.8;
 color: #FFFFFF;
}


.test-link {
color:#212121;
}

.test-link:hover,
.test-link:focus {
color:#2196F3 ;
}
 