/* body */
body {
 
width: 1600px;
height: 2346px;

color: #212121;
background: #FFFFFF;
font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
}
/* header */
.page-header {
    width: 1600px;
height: 80px;
left: 0px;
top: 0px;

background: #FFFFFF;

}

.logo-text {
margin-left: 215px;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
}

.text-logo2 {
    color: #000000;
}

.text-logo3 {
 color: #FFFFFF;
}

.contacts-header {

}
.studio-header {

    
font-weight: 500;
font-size: 14px;

letter-spacing: 0.02em;
color: #2196F3;
}

.portfolio-header {

    
    font-weight: 500;
    font-size: 14px;
    
    letter-spacing: 0.02em;
        }
.contact-header {
    
    
    font-weight: 500;
    font-size: 14px;
    
    letter-spacing: 0.02em;
        }

.mail-header {
    
    
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #2196F3;
}
 
.tel-header {
   
     font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #757575;
    
}



/* main */
.main-style {

}

.solutions {
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
     margin-bottom: 95px;  
background-color:#2F303A;
}

.solutions-title {
   font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;

}

.button {
    position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

   

}

.button-text {

 width: 152px;
height: 30px;
left: 730px;
top: 440px;
font-weight: 700;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;


color: #FFFFFF;

}

.feature-styles {
margin-bottom: 95px;
}

.feature-title {
   
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.feature-text {
 

font-size: 14px;
line-height:24px;

letter-spacing: 0.03em;

color: #757575;

}




.our-work {
    

    
}



.title-work {
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

}

.photo-work {
padding-left: 215px; 
padding-right: 215px;
}

.photo-work-1,.photo-work-2,.photo-work-3  {
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1058px;
   }

.team {
background-color: #F5F4FA;

}

.title-team {
        font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
            margin-bottom: 50px;
}
.image-photo {
   margin: bottom 180px; 
margin: top 95px; ;
margin-left: 215px;


}



.job-title {
    ont-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}


.photo-1,.photo2,.photo-3,.photo-4 {
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1632px;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    }


.title-name {
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;

}

.footer-style {
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2094px;
    background-color: #2F303A;
}

.adress-foter {
    width: 231px;
height: 21px;
     font-weight: 400;
    font-size: 14px;
    line-height: 24px;
        letter-spacing: 0.03em;
    
    color: #FFFFFF;
}

.address-footer {
 width: 231px;
height: 81px;
left: 215px;
top: 2205px;

}


.test-link {
color:#212121;
}

.test-link:hover,
.test-link:focus {
color:#2196F3 ;
}
 